h1 {
  font-family: Book Antiqua cursive;
  font-style: oblique;
  background-color: purple;
  display:inline-block;
}
img {
  display: inline-block;
}

.location img{
  height: 350px;
}

.options > button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#changeScreen {
  position: absolute;
  margin: auto;
}

.score {
  display: inline;
}
