.border {
	background: gray;
	position: fixed;
  z-index: 1;
}

#left, #right {
	top: 0; bottom: 0;
	width: 30px;
}
#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
	left: 0; right: 0;
	height: 30px;
}

#top {
   top: 0;
   padding: 0px;
}

#bottom {
   bottom: 0;
}

*{
  box-sizing: content-box;
  border: black 2px solid;
}

h1 {
  font-family: Book Antiqua cursive;
  font-style: oblique;
  text-align: center;
  position: fixed;
  margin: 20px 0px -10px -10px;
  font-size: 60px;
  width: 500px;
  background: tan;
}

.completion {
  /*width: 100%;*/
  /*float: right;*/
  /*margin-right: 70px;*/
  /*height: 138px;*/
  /*margin-bottom: 0px;*/
  position: absolute;
  text-align: center;
  display: inline-block;
}

.completion p {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: inline-block;
  border-radius: 10%;
  /*align-items: center;*/
  /*position: relative;*/
  border: black solid 2px;
  margin-bottom: 0px;
}

.score {
  width: 150px;
  border-radius: 15px;
  /*margin-top: 0px;*/
  font-size: 30px;
  /*display: inline;*/
}

.location {
  float: left;
  clear: both;
  margin-top: 30px;
  margin-left: 50px;
  width: 400px;
  text-align: center;
  margin-bottom: 30px;
}

img {
  height: 350px;
  border-radius: 5%;
}

.options {
  display: inline-block;
  width: 400px;
  float: right;
  margin-top: 50px;
  margin-right: 170px;
  text-align: center;
}

h2 {
  margin-top: 0px;
  font-weight: lighter;
}

.place {
  font-weight: bolder;
}
.options button{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.options button:hover{
  text-decoration: underline;
}



button.next{
  float: right;
  position: relative;
  width: 60px;
  margin-right: 160px;
  border-radius: 15%;
  height: 30px;
  margin-top: 30px;
}

.descriptions {
  display: block;
}

.descriptions:first {
  size: 500px;
}
